<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.BasicServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableServlet</display-name>
    <servlet-name>TimeTableServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.TimeTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableServlet</servlet-name>
    <url-pattern>/TimeTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>kr.or.ddit.login.web.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestProcess</display-name>
    <servlet-name>RequestProcess</servlet-name>
    <servlet-class>kr.or.ddit.servlet.scope.RequestProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestProcess</servlet-name>
    <url-pattern>/RequestProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requsetcont</display-name>
    <servlet-name>Requsetcont</servlet-name>
    <servlet-class>kr.or.ddit.servlet.scope.Requsetcont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requsetcont</servlet-name>
    <url-pattern>/Requsetcont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scope</display-name>
    <servlet-name>Scope</servlet-name>
    <servlet-class>kr.or.ddit.servlet.scope.Scope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scope</servlet-name>
    <url-pattern>/Scope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sumcalculation</display-name>
    <servlet-name>Sumcalculation</servlet-name>
    <servlet-class>kr.or.ddit.servlet.scope.Sumcalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sumcalculation</servlet-name>
    <url-pattern>/Sumcalculation</url-pattern>
  </servlet-mapping>
</web-app>